/* Pointer */
.handsfree-pointer {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background: #f00;
  border: 3px solid #f00;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  opacity: 1;
  transition: opacity 0.35s ease;
  display: none;
}
.handsfree-pointer-hidden {
  opacity: 0;
}
.handsfree-calibrating .handsfree-pointer.handsfree-pointer-hidden {
  opacity: 1;
}
.handsfree-scroll-focus {
  outline: 3px solid #f00;
}
.handsfree-started .handsfree-pointer {
  display: block;
}
.handsfree-hidden {
  display: none !important;
}
/* feedback */
.handsfree-feedback {
  position: relative;
}
.handsfree-canvas, .handsfree-video, .handsfree-debug {
  width: 100%;
  height: auto;
  position: relative;
  transform: scale(-1, 1);
}
.handsfree-video, .handsfree-debug {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
/* Loading States */
.handsfree-show-when-loading {
  display: none;
}
.handsfree-loading .handsfree-hide-when-loading {
  display: none;
}
.handsfree-loading .handsfree-show-when-loading {
  display: block;
}
.handsfree-loading a.handsfree-show-when-loading, .handsfree-loading button.handsfree-show-when-loading, .handsfree-loading span.handsfree-show-when-loading {
  display: inline-block;
}
/* Started/stop states */
.handsfree-stop {
  display: none;
}
.handsfree-started .handsfree-start {
  display: none;
}
.handsfree-started .handsfree-stop {
  display: block;
}
.handsfree-started a.handsfree-stop, .handsfree-started button.handsfree-stop, .handsfree-started span.handsfree-stop {
  display: inline-block;
}
.handsfree-started .handsfree-show-when-stopped {
  display: none;
}
.handsfree-show-when-started {
  display: none;
}
.handsfree-started .handsfree-show-when-started {
  display: initial;
}
.handsfree-loading .handsfree-show-when-loading {
  display: initial;
}
/* Calibrator, Gesture Recorder */
.handsfree-gesture-recorder-wrap, .handsfree-calibrator-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0;
  transition: opacity 0.35s ease;
  text-align: center;
  padding-top: 100px;
  box-sizing: border-box;
  pointer-events: none;
  z-index: 999998;
}
.handsfree-gesture-recorder-wrap.handsfree-visible, .handsfree-calibrator-wrap.handsfree-visible {
  opacity: 0.95;
}
.handsfree-calibrator-marker {
  width: 160px;
  height: 160px;
  border-radius: 160px;
  margin: auto;
  border: 2px solid #aac;
}
#tfjs-visor-container > .visor {
  z-index: 1000000;
}
/* Click animation */
body.handsfree-clicked .handsfree-pointer {
  background: #ff0;
  animation: shadow-pulse 0.15s 1;
}
@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 15px rgba(255, 0, 0, 0.45);
 }
  100% {
    box-shadow: 0 0 0 75px rgba(255, 0, 0, 0);
 }
}
