// Quasar Sass (& SCSS) Variables

// Theme
$bg-main: #2d2b55
$icon-active: #fff
$icon-inactive: #A599E9
$item-active-bg: #222244
$item-inactive-bg: #28284e

$scrollbar-draggable: #6a63a1
$scrollbar-draggable-hover: #4d21fc  

// Quasar overrides
$panel-padding: 20px

$primary   : #1e1e3f
$secondary : #fad000
$accent    : #fad000
$dark      : #222244
$positive  : #3ad900
$negative  : #ff628c
$info      : #9effff
$warning   : #fad000

$h1: (size: 3rem, line-height: 3rem, letter-spacing: -.01562em, weight: 600)
$h2: (size: 2rem, line-height: 2rem, letter-spacing: -.01562em, weight: 600)
$h3: (size: 1.5rem, line-height: 1.5rem, letter-spacing: -.01562em, weight: 600)

$separator-color-dark: darken($dark, 5%) !important
$separator-color: darken($dark, 5%) !important

// Blockly
$blockly-midi-events: #9fa55b
$blockly-midi-arguments: #a5935b
$blockly-send-midi: #5ba5a5
$blockly-logic: #5b80a5
$blockly-loops: #5ba55b
$blockly-math: #5b67a5
$blockly-variables: #a55b80
$blockly-functions: #995ba5