<!DOCTYPE html>
<head>
  <title><%= productName %></title>

  <meta charset="utf-8">
  <meta name="description" content="<%= productDescription %>">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

  <link rel="shortcut icon" href="favicon.png" type="image/png">
</head>

<noscript>
  <div style="text-align: center; margin-top: 100px;">
    <img src="favicon.png" alt="" width=100>
    <h1>Midiblocks</h1>
    <p>Midiblocks requires JavaScript in order to work.
    <p>Please <a href="https://www.youtube.com/results?search_query=how+to+enable+javascript">enable JavaScript</a> and reload the page.
  </div>
</noscript>
<div id="q-app"></div>